[submodule "ThirdParty/e-graph"]
	path = ThirdParty/e-graph
	url = https://github.com/peterrudenko/e-graph.git
[submodule "ThirdParty/pegtl"]
	path = ThirdParty/pegtl
	url = https://github.com/taocpp/PEGTL.git
